<% if user_signed_in? && current_user.id == @friend.user_id %>
  <% content_for :title, "New friend" %>

  <h1>New friend</h1>

  <%= render "form", friend: @friend %>

  <br>

  <div>
    <%= link_to "Back to friends", friends_path %>
  </div>
<% else %>
  <p>You aren't authorised :(</p>
<% end %>