<h1>Friends App</h1>
<p>This is my first rails app :) Find me in app/views/home/index.html.erb</p>
<button onclick="window.open('https://www.youtube.com/watch?v=dQw4w9WgXcQ', '_blank');">Get rickrolled!</button>
<%= link_to "Go to Friends", friends_path %>